body {
    background-color: darkorange;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: darkred;
}   

li {
    color: dodgerblue;
    margin-bottom: 1em;
    margin-left: 4em;
}

a {
    color: dodgerblue;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 2em;
}

h2 {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

img {
    background-color: rgb(19, 14, 85);
    border-radius: 30%;
    width: 20%;
}

.content-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}